/* CSS Author: Tanzim Ahmed Sagar */
:root {
    --searchUI_height: 35px;
}
#searchbar-container {
    display: flex;
    flex-direction: row;
    width: 12rem;
    margin: 1.3rem 0 1.3rem 1.3rem;
    transition: 0.3s;
}
#searchbar-container:focus-within {
    justify-content: space-between;
    transition: 0.9s;
}
.regularsearchbar {
    text-align: right;
    padding-right: 4px;
    border: none;
    border-radius: calc(var(--searchUI_height) * 0.5) 0% 0% calc(var(--searchUI_height) * 0.5);
    width: 8rem;
    height: var(--searchUI_height);
    background-color: var(--zircon);
    color: var(--firefly);
}
.regularsearchbar:focus {
    border: none;
    border-radius: calc(var(--searchUI_height) * 0.5);
    outline: 1px solid var(--green);
    background-color: var(--lilac);
    transition: 0.3s;
}
.regularsearchbar:focus + .searchbtn {
    border-radius: calc(var(--searchUI_height) * 0.5);
    text-align: center;
    transition: 0.3s;
}
.searchbtn {
    border: none;
    border-radius: 0% calc(var(--searchUI_height) * 0.5) calc(var(--searchUI_height) * 0.5) 0%;
    height: var(--searchUI_height);
    padding: 0% 0.7rem;
    background-color: whitesmoke;
    font-size: medium;
}
.searchbtn:hover {
    background-color: var(--mint);
    transition: 0.3s;
}
