/* CSS Stylesheet by Tanzim Ahmed Sagar */
.formcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.formcontainer * {
    color: black;
    font-family: system-ui;
}
.formcontainer>h1 {
    color: var(--firefly);
    padding-bottom: 3rem;
}
.textfield {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.textfield > input {
    width: 30rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px dashed;
    font-size: large;
}
.createaccount-section > * {
    color: black;
    text-align: right;
    font-family: "Great-Vibes";
    font-size: larger;
}
.createaccount-btn {
    cursor: pointer;
    background-color: var(--emerald);
    padding: 1rem;
    border-radius: 20px 10px;
    margin-right: 1rem;
    font-family: "Great-Vibes";
}
