/* CSS Author: Tanzim Ahmed Sagar */
:root{
    --firefly: #0f2830;
    --emerald: #014751;
    --green: #00d37f;
    --mint: #aff8c8;
    --yellow: #ffeeb4;
    --lilac: #d2c4fb;
    --zircon: #F8FBFF;
}
*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--zircon);
    cursor: default;
    list-style-type: none;
}
section{
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    background-color: var(--emerald);
    position: sticky;
    top: 0%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 7rem;
}
.navbar ul {
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
    padding-right: 3rem;
}
.navbar ul li {
    text-align: center;
    margin: 1.5rem 1.3rem;
    list-style: none;
    width: 8rem;
    height: 3rem;
}
.navbar ul li > .navanchor {
    cursor: pointer;
    font-family:system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar ul li .navanchor:hover{
    text-decoration: underline;
    font-size: 1.3rem;
    transition: 0.3s;

}
#logo h3{
    font-family: 'Saira';
    font-size: 3rem;
    padding-left: 25px;
    cursor: pointer;
    text-align: center;
}
#logo h3:hover{
    font-size: 3.5rem;
    transition: 0.3s;
}
.hero {
    background-color: var(--lilac);
}
/*==================FOR FUTURE WORK======================*/
.cv-topbar-cascade{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding: 10px;
}
#cvdescription-container{
    padding-top: 1rem;
    margin-right: 1rem;
}
.cvdescription{
    list-style: circle inside;
    text-align: right;
}
.titledescription-packet{
    padding: .5%;
    width: 20%;
}
#cv-educationalbackground .titledescription-packet {
    width: 40%;
}
.h3-container{
    border-bottom: 1px black solid;
    margin-left: 6%;
    padding-top: .75rem;
}
.detail-table{
    padding-top: 0.5%;
    border-spacing: 7px 10px;
    max-width: 25rem;
}
.tableleftmargin-pref{
    margin: 0% 0% 0% 8%;
}
.horizontal-array{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.horizontal-array > .h3-container{
    margin-left: 0%;
    padding-top: 0%;
    padding: 1% 3%;
}
.horizontal-array > .h3-container > h3{
    padding: 2px;
    font-weight: normal;
    background-color: hsla(0, 50%, 15%, 0.342);
    border-radius: 0 15px;
    color: white;
    text-align: center;
}
.nodetail{
    text-align: left;
    font-weight: 275;
}
#nodetail > li{
    font-weight: 275;
    padding-left: 6%;
    padding-top: 1%;
}
li.checked-list:before {
    content: '\2713';
    margin: 0 1em; 
}
li.language-list:before {
    content: '\1F5E3';
    margin: 0 1em;
}
.cvsegmenttitle{
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0% 0% 0%;
}
.footer{
    padding: 2% 0%;
}
.searchbar-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.regularsearchbar {
    float: right;
    padding: 6px;
    border: none;
}
.searchbtn {
    border-radius: 0%;
    padding: 3px;
    background-color: whitesmoke;
    font-size: larger;
}
.coursecode{
    background-color: white;
    text-align: center;
    padding-top: 0%;
    margin-left: 0%;
}
.coursecode > h3{
    color: var(--green);
    padding: 2px;
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}
.coursename {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.rowrightalign-pref {
    text-align: right;
    text-indent: 0%;
    margin: 0%;
}
.itempreview-img{
    transition-duration: 0.5s;
    float:inherit;
    width: auto;
    height: 9rem;
    border-radius: 25% 0
}
.itempreview-link > .itempreview-img{
    cursor: pointer;
}
.itempreview-img:hover{
    height: 12rem;
}